<ion-content>
  <div class="billit-main-container"
       [formGroup]="form">
    <img src="../../../../assets/img/logo.png" alt="logo" class="billit-logo"/>

    <div class="billit-input-container">
      <ion-item class="input-field">
        <ion-label position="floating">Email</ion-label>
        <ion-input formControlName="email"></ion-input>
      </ion-item>

      <p class="billit-input-error-message ion-padding-start"
         *ngIf="showErrors && !form.controls.email.valid">
        {{ERROR_EMAIL}}
      </p>

      <ion-item class="input-field">
        <ion-label position="floating">Password</ion-label>
        <ion-input formControlName="password"
                   [type]="showPassword ? 'text' : 'password'">
        </ion-input>
        <ion-icon slot="end" class="billit-toggle-password-icon"
                  [name]="showPassword ? 'eye' : 'eye-off'"
                  (click)="toggleShowPassword()">
        </ion-icon>
      </ion-item>

      <p class="billit-input-error-message ion-padding-start"
         *ngIf="showErrors && !form.controls.password.valid">
        {{ERROR_PASSWORD}}
      </p>
    </div>

    <div class="d-flex flex-column">
      <ion-button shape="round" class="my-3"
                  (click)="login()">
        Login
      </ion-button>

      <div class="d-flex align-items-center">
        <div class="billit-divider"></div>
        <div class="mx-3">or</div>
        <div class="billit-divider"></div>
      </div>

      <ion-button shape="round" fill="outline" class="my-3"
                  [routerLink]="['/auth/register']">
        Create an account
      </ion-button>
    </div>
  </div>
</ion-content>
