<ion-header>
  <ion-toolbar color="primary">
    <ion-icon slot="start" class="billit-header-icon"  name="arrow-back"
              (click)="goBack()"></ion-icon>
    <ion-icon slot="start" class="billit-header-more"></ion-icon> <!-- here only to achieve header equilibrium-->
    <app-appbar-logo></app-appbar-logo>
    <ion-icon slot="end"
              class="billit-header-icon {{bill.favorite ? 'billit-header-star' : ''}}"
              [name]="bill.favorite ? 'star' : 'star-outline'"
              (click)="updateFavorite()"></ion-icon>
    <ion-icon slot="end" class="billit-header-more" name="ellipsis-vertical"
              (click)="presentPopover($event)"></ion-icon>
  </ion-toolbar>
</ion-header>

<ion-content>
  <main class="billit-details-container">
    <ion-card class="billit-details-card">
      <ion-card-content class="billit-details-card-content">

        <section class="billit-details-top"
                 [style.margin-bottom]="billCategories.length > 0 ? '0.1em !important' : '0.5em !important'">
          <div class="d-flex justify-content-between">
            <div class="billit-details-top-element mr-2">
              <ion-icon name="calendar-outline"></ion-icon>
              {{bill.getDateString()}}
            </div>

            <div class="billit-details-top-element">
              <ion-icon name="time-outline"></ion-icon>
              {{bill.getTimeString()}}
            </div>
          </div>

          <div class="billit-details-top-element">
            <ion-icon name="cart"
                      class="billit-details-store-icon"
                      [ngStyle]="bill.type === TRUSTED_TYPE && {'color': 'var(--billit-trusted-color)'}"></ion-icon>
            <div class="billit-details-store-name">
              {{bill.store}}
            </div>
          </div>

          <div class="billit-details-top-element">
            <ion-icon name="finger-print-outline"></ion-icon>
            <div class="billit-details-bill-number">
              {{bill.number}}
            </div>
          </div>

          <div class="billit-details-categories-wrapper"
               *ngIf="billCategories.length > 0">
            <div class="billit-details-categories-shadow"></div>
            <div class="billit-details-categories">
              <div class="billit-details-category"
                   *ngFor="let category of billCategories">
                {{category}}
              </div>
              <div class="pr-2"></div>
            </div>
          </div>

        </section>

        <div class="billit-divider"></div>

        <section class="billit-details-middle">
          <ion-list>
            <ion-item *ngFor="let product of bill.products; let i = index"
                      [ngClass]="(i == 0 ? 'mt-1' : '') + (i === bill.products.length - 1 ? ' billit-no-border' : '')">
              <div class="billit-details-product">
                <div class="d-flex justify-content-between">
                  <div class="billit-details-product-text">{{product.name}}</div>
                  <div class="billit-details-product-qty">Qty: {{product.quantity}}</div>
                </div>
                <div class="d-flex justify-content-between">
                  <div>{{product.quantity}} x {{product.price}}</div>
                  <div>{{product.computeTotal().toFixed(2)}} {{bill.currency}}</div>
                </div>
              </div>
            </ion-item>
          </ion-list>
        </section>

        <div class="billit-divider mb-2"></div>

        <section class="billit-details-bottom">
          <div>TOTAL</div>
          <div>{{bill.total.toFixed(2)}} {{bill.currency}}</div>

        </section>
      </ion-card-content>
    </ion-card>
  </main>
</ion-content>
