.billit-card-row {
  display: flex;
  justify-content: space-between;

  .billit-top-row-element {
    display: flex;
    font-weight: normal;

    ion-icon {
      font-size: 0.9em;
      padding-top: 0.1em;
      margin-left: 0.19em;
      margin-right: 0.6em;
    }
  }

  .billit-store-name {
    text-overflow: ellipsis;
    overflow: hidden;
    max-width: 50vw;
  }

  .billit-price {
    font-weight: normal;
  }

  .billit-bottom-row-element {
    display: flex;
    font-size: 0.9em;
    color: var(--billit-icon-color);
    white-space: nowrap;

    ion-icon {
      margin-right: 0.25em;
    }
  }
}
