<ion-content>
  <div class="main-container"
       [formGroup]="form">

    <div class="header-container">
      <ion-button fill="clear" shape="round"
                  [routerLink]="['/login']">
        <ion-icon slot="icon-only" name="chevron-back-outline"></ion-icon>
      </ion-button>

      <h5 class="header-text">
        Create a new account
      </h5>
    </div>

    <div class="input-container">
      <ion-item class="input-field">
        <ion-label position="floating">Email</ion-label>
        <ion-input formControlName="email"></ion-input>
      </ion-item>

      <p class="input-error-message ion-padding-start"
         *ngIf="showErrors && !form.controls.email.valid">
        {{ERROR_EMAIL}}
      </p>

      <ion-item class="input-field">
        <ion-label position="floating">Password</ion-label>
        <ion-input formControlName="password"
                   [type]="showPasswords ? 'text' : 'password'">
        </ion-input>
        <ion-icon slot="end" class="toggle-password-icon"
                  [name]="showPasswords ? 'eye' : 'eye-off'"
                  (click)="toggleShowPassword()">
        </ion-icon>
      </ion-item>

      <p class="input-error-message ion-padding-start"
         *ngIf="showErrors && !form.controls.password.valid">
        {{ERROR_PASSWORD}}
      </p>

      <ion-item class="input-field">
        <ion-label position="floating">Confirm Password</ion-label>
        <ion-input formControlName="confirmPassword"
                   [type]="showPasswords ? 'text' : 'password'">
        </ion-input>
        <ion-icon slot="end" class="toggle-password-icon"
                  [name]="showPasswords ? 'eye' : 'eye-off'"
                  (click)="toggleShowPassword()">
        </ion-icon>
      </ion-item>

      <p class="input-error-message ion-padding-start"
         *ngIf="showErrors && (!form.controls.confirmPassword.valid || form.errors?.notEqual)">
        {{ERROR_PASSWORD_MATCH}}
      </p>

      <ion-item class="input-field">
        <ion-label position="floating">Name</ion-label>
        <ion-input formControlName="name"></ion-input>
      </ion-item>

      <p class="input-error-message ion-padding-start"
         *ngIf="showErrors && !form.controls.name.valid">
        {{ERROR_NAME}}
      </p>

      <ion-item class="input-field">
        <ion-label position="floating">Country</ion-label>
        <ion-input formControlName="country"></ion-input>
      </ion-item>

      <p class="input-error-message ion-padding-start"
         *ngIf="showErrors && !form.controls.country.valid">
        {{ERROR_COUNTRY}}
      </p>
    </div>

    <div class="d-flex flex-column">
      <ion-button shape="round" class="my-3 mb-3"
                  (click)="register()">
        Create account
      </ion-button>
    </div>
  </div>
</ion-content>
