ion-item{
  --ion-background-color: transparent;
}

.main-container {
  padding: 0 12vw;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.logo {
  width: 100%;
  height: auto;
  margin-bottom: 64px;
}

.input-container {
  width: 100%;
}

.toggle-password-icon {
  margin-top: 1em;
}

.register-text {
  font-weight: bold;
  font-size: small;
  color: var(--ion-color-primary);
}

.divider {
  height: 1px;
  width: 100%;
  background-color: var(--ion-color-step-150, rgba(0, 0, 0, 0.13));
}
