.main-container {
  padding: 0 10vw;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  .input-container {
    width: 100%;
  }

  .toggle-password-icon {
    margin-top: 1em;
  }

  ion-item{
    --ion-background-color: transparent;
  }
}

