html, body {
  line-height: 1.2 !important;
}

ion-content {
  // override
  --background: url("../img/background-polygons.png") 0 0/100% 100% no-repeat;
}

ion-label, p, h1, h2, h3, h4, h5, h6 {
  // override
  // text color almost everywhere
  --color: var(--ion-text-color) !important;
}

.input-field {
  // override
  margin-bottom: 20px !important;
}
